{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

<section class="container mx-auto w-screen h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col justify-between items-center my-4">
        <form action=" {% url 'login' %}" method="POST" class="bg-gradient-to-r from-LightRed to-VeryDarkGrayBlue py-3 px-5 rounded-lg drop-shadow-md w-full md:w-96 md:text-xl">
            {% csrf_token %}
           
            <p class="text-left text-white ">A one time link was sent to your Email!  <br> </p>
           
          
        </form>
    </div>
</section>
{% endblock content %}