{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<section class="container mx-auto w-screen h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col justify-between items-center my-4">
        <div  class="bg-gradient-to-r from-LightRed text-center to-VeryDarkGrayBlue py-3 px-5 rounded-lg drop-shadow-md w-16 md:text-xl">
                <a  class="text-sm text-white text-center" href=" {% url 'login' %} ">Login</a>
            </div>
        </div>
    </div>

</section>


{% endblock content %}