{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

<section class="container mx-auto w-screen h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col justify-between items-center my-4">
        <form action="" method="POST" class="bg-gradient-to-r from-LightRed to-VeryDarkGrayBlue py-3 px-5 rounded-lg drop-shadow-md w-full md:w-96 md:text-xl">
            {% csrf_token %}
           
            <p class="text-left text-white ">Enter your email to get a one time reset password link </p>
           
            <div class="flex flex-col mt-6 input">
                {{form}}
            </div>
            <input type="submit" value="submit" class="w-full py-3 px-4 bg-gradient-to-r from-green-600 to-red-600 hover:from-red-600 hover:to-green-400 text-white rounded-lg hover:bg-green-800 mt-3 text-center text-1xl md:1/2">
        </form>
    </div>
</section>
{% endblock content %}