{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<section class="container mx-auto mt-5 flex flex-col justify-between items-end md:flex-row">
    <main class="flex flex-col w-full md:w-3/4 spaxe-y-4">
        {% if post.image.url %}
        <img class="w-full rounded-md md:w-2/3" src=" {{post.image.url }}" alt="">
        {% else %}
        <div></div>
        {% endif %}

        <div class="p-3 md:p-0 md:py-2">
            <header class="flex  flex-col justify-center md:items-start">
                <h3 class="text-3xl text-VeryDarkDesaturatedBlue font-bold">{{post.title |title}}</h3>
                <h3 class="text-md font-bold">By: <a class="text-red-900 " href=" {% url 'profile' post.author.profile.slug%} ">{{post.author.profile}}</a> </h3>
              
                <div class="flex space-x-4 py-3">
                    {% for post_tag in post_tags  %}
                        <span class="text-md text-white bg-VeryDarkGrayBlue p-2 rounded-md">{{post_tag.caption |title}}</span>
                    
                    {% endfor %}
                    
                </div>
            </header>
            <p class="md:text-xl" > {{post.text | linebreaks}} </p>
        </div>
    </main>
    
    <aside class="pl-0 mt-4 mb-2 h-full w-full md:w-96 md:pl-5">
        <h2 class="text-2xl  text-VeryDarkGrayBlue font-bold ">Recommeded Posts</h2>
      <ul class="flex flex-col space-y-3">

        {% for related_post in related_posts  %}
            
        <li class="flex items-center bg-white w-full pr-3 border-VeryLightRed border-x-2">
            {% if related_post.image.url%}
            <img class="w-28" src="{{related_post.image.url}}" alt="">
            {% else %}
            <p>{{related_post.title |title}}</p>
            {% endif %}
            <a href=" {% url 'detail' related_post.slug %} " class="px-2 text-VeryDarkDesaturatedBlue">{{related_post.title |title}}</a>
        </li>
        {% endfor %}

      </ul>
    </aside>
</section>


<section class="mx-auto container mt-8">
    <div class="w-full mx-auto  md:w-1/2">
        {% if has_comment %}
        <h3 class="text-bold text-xl pb-3">Comments</h3>
        {% endif %}
        {% for comment in comments %}
        <div class="bg-gray-300 p-3 rounded-lg w-full">
            <h2 class="text-semibold pb-3 text-VeryDarkDesaturatedBlue text-xl">{{comment.name |title}}</h2>
            <p class="text-md text-VeryDarkGrayBlue">{{comment.comment |capfirst | linebreaks }}</p>
        </div>
        {% endfor %}
    </div>
</section>


<section class="container mx-auto mt-8">
    <div class="flex flex-col justify-between items-center my-4">
        <form action="" method="POST" enctype="multipart/form-data" class="bg-gray-400 py-3 px-5 rounded-lg drop-shadow-md w-full md:w-1/2">
            {% csrf_token %}
            <div class="flex flex-col input">
                <label for="title" class="text-gray-900 text-xl pb-2">Name</label>
                {{form.name}}
            </div> 

            <div class="flex flex-col input comment mt-2">
                <label for="title" class="text-xl text-gray-900 pb-2">Comment</label>
              {{form.comment}}
            </div>

          
            <input type="submit" value="Post" class="w-1/2 py-3 px-4 bg-gradient-to-r from-green-600 to-red-600 hover:from-red-600 hover:to-green-400 text-white rounded-lg hover:bg-green-800 text-white rounded-lg  mt-3 text-center text-1xl">
        </form>
    </div>

</section>

{% endblock content %}